@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon/icomoon.eot?bc8t5t');
  src:  url('fonts/icomoon/icomoon.eot?bc8t5t#iefix') format('embedded-opentype'),
    url('fonts/icomoon/icomoon.ttf?bc8t5t') format('truetype'),
    url('fonts/icomoon/icomoon.woff?bc8t5t') format('woff'),
    url('fonts/icomoon/icomoon.svg?bc8t5t#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-notificaion:before {
  content: "\e93f";
}
.icon-contactno:before {
  content: "\e93e";
}
.icon-close:before {
  content: "\e906";
}
.icon-card:before {
  content: "\e93d";
}
.icon-logout:before {
  content: "\e93b";
}
.icon-category:before {
  content: "\e93a";
}
.icon-filter:before {
  content: "\e939";
}
.icon-male:before {
  content: "\e938";
}
.icon-female:before {
  content: "\e92d";
}
.icon-ellipsis-v:before {
  content: "\e937";
}
.icon-menu:before {
  content: "\e936";
}
.icon-shop:before {
  content: "\e934";
  color: #666;
}
.icon-km:before {
  content: "\e935";
  color: #666;
}
.icon-tick:before {
  content: "\e933";
}
.icon-star:before {
  content: "\e92f";
  color: #b1b1b1;
}
.icon-phone:before {
  content: "\e930";
}
.icon-map:before {
  content: "\e931";
}
.icon-location:before {
  content: "\e932";
}
.icon-unmarried:before {
  content: "\e927";
}
.icon-renew:before {
  content: "\e928";
  color: #666;
}
.icon-new-offer:before {
  content: "\e929";
}
.icon-my-saving:before {
  content: "\e92a";
}
.icon-my-profile:before {
  content: "\e92b";
}
.icon-married:before {
  content: "\e92c";
}
.icon-favourite:before {
  content: "\e92e";
}
.icon-promocode:before {
  content: "\e91a";
}
.icon-alloffers:before {
  content: "\e925";
}
.icon-student:before {
  content: "\e923";
}
.icon-corporate:before {
  content: "\e924";
}
.icon-receive:before {
  content: "\e926";
}
.icon-make-payment:before {
  content: "\e920";
}
.icon-enjoy:before {
  content: "\e921";
}
.icon-click-apply-now:before {
  content: "\e922";
}
.icon-education:before {
  content: "\e91f";
}
.icon-website:before {
  content: "\e900";
}
.icon-travel:before {
  content: "\e901";
}
.icon-terms-condition:before {
  content: "\e902";
}
.icon-survey:before {
  content: "\e903";
}
.icon-sign-in:before {
  content: "\e904";
}
.icon-service:before {
  content: "\e905";
}
.icon-search:before {
  content: "\e919";
}
.icon-restaurant:before {
  content: "\e907";
}
.icon-professional:before {
  content: "\e908";
}
.icon-other-information:before {
  content: "\e909";
}
.icon-offer:before {
  content: "\e90a";
}
.icon-mobile:before {
  content: "\e90b";
}
.icon-message:before {
  content: "\e90c";
}
.icon-mail-verification:before {
  content: "\e90d";
}
.icon-leisure:before {
  content: "\e90e";
}
.icon-industry:before {
  content: "\e90f";
}
.icon-id:before {
  content: "\e910";
}
.icon-health:before {
  content: "\e911";
}
.icon-head-office:before {
  content: "\e912";
}
.icon-features:before {
  content: "\e913";
}
.icon-edit:before {
  content: "\e914";
}
.icon-calendar:before {
  content: "\e915";
}
.icon-contact-name:before {
  content: "\e916";
}
.icon-company:before {
  content: "\e917";
}
.icon-chat:before {
  content: "\e918";
}
.icon-benefits:before {
  content: "\e91b";
}
.icon-beauty:before {
  content: "\e91c";
}
.icon-bag:before {
  content: "\e91d";
}
.icon-attachment:before {
  content: "\e91e";
}
.icon-right:before {
  content: "\e93c";
}
