@charset "utf-8";
/* CSS Document */


.bg {
    position: relative;
    z-index: 1;
    background-image: url(../images/login-bg_50.png) !important;
    background-repeat: no-repeat;
    background-size: cover;
}
body {
    font-family: 'Roboto', sans-serif;

}
.default-wrapper{
	padding: 0px 0px 0px 0px;
}
body {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    font-size: 14px;
    line-height: 1.42857143;
    color: #333333;
    background-color: #585858;
}
.para{
	font-size: 17px;
}
.logo{
	height: 60px;
}
.bg .big-logo {
    position: absolute;
    top: 50px;
    left: 50px;
}
div {
    display: block;
}
a {
    color: #337ab7;
    text-decoration: none;
}
a {
    background-color: transparent;
}
embed, img:not([draggable]), object, video {
    max-width: 100%;
    height: auto;
}
img {
    vertical-align: middle;
}
img {
    border: 0;
}
.bg .login-box {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 400px;
    margin: -129px 0 0 -200px;
}
form {
    display: block;
    margin-top: 0em;
}
.group {
    position: relative;
    margin-bottom: 50px;
}
.bg .login-box form .group input {
    padding: 6px 0;
    color: #fff;
    border-bottom: 1px solid rgba(255,255,255,0.5);
}
.group input, .group textarea {
    font-size: 17px;
    display: block;
    width: 100%;
    padding: 9px 0 3px;
    color: #333;
    border: none;
    border-bottom: 1px solid rgba(0,0,0,0.08);
    border-radius: 0;
    background-color: transparent;
}
.error {
    color: red !important;
}
input {
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
}
.bg .login-box form .group #emailId-error {
    font-size: 12px;
    top: 40px;
    opacity: 0.6;
    color: #fff;
}
.bg .login-box form .group input:valid ~ label {
    top: 40px;
}

.bg .login-box form .group input:focus ~ label, .bg .login-box form .group input:valid ~ label {
    font-size: 12px;
    opacity: 0.6;
    color: #fff;
}
.bg .login-box form .group label {
    opacity: 0.6;
    color: #fff;
}
.group label {
    font-size: 17px;
    font-weight: normal;
    position: absolute;
    top: -21px;
    left: 0;
    -webkit-transition: 0.2s ease all;
    -moz-transition: 0.2s ease all;
    transition: 0.2s ease all;
    pointer-events: none;
}
.bg .login-box form .last {
    margin-bottom: 25px;
}
.group {
    position: relative;
    margin-bottom: 50px;
}
.bg .login-box form .group input {
    padding: 6px 0;
    color: #fff;
    border-bottom: 1px solid rgba(255,255,255,0.5);
}
.group input, .group textarea {
    font-size: 17px;
    display: block;
    width: 100%;
    padding: 9px 0 3px;
    color: #333;
    border: none;
    border-bottom: 1px solid rgba(0,0,0,0.08);
    border-radius: 0;
    background-color: transparent;
}


.bg .login-box form .group input:valid ~ label {
    top: 40px;
}
.bg .login-box form .group input:focus ~ label, .bg .login-box form .group input:valid ~ label {
    font-size: 12px;
    opacity: 0.6;
    color: #fff;
}
.bg .login-box form .group label {
    opacity: 0.6;
    color: #fff;
}
.group input:focus ~ label, .group input:valid ~ label, .group textarea:focus ~ label, .group textarea:valid ~ label {
    font-size: 17px;
    top: -21px;
    opacity: 0.5;
    color: #333;
}
.group label {
    font-size: 17px;
    font-weight: normal;
    position: absolute;
    top: -21px;
    left: 0;
    -webkit-transition: 0.2s ease all;
    -moz-transition: 0.2s ease all;
    transition: 0.2s ease all;
    pointer-events: none;
}
.bg .login-box form .content {
    display: inline-block;
    width: 100%;
    margin-bottom: 50px;
    vertical-align: middle;
}
.bg .login-box form .content a {
    font-weight: 500;
    color: #fff;
}
.pull-left {
    float: left;
}
.pull-left {
    float: left !important;
}
.bg .login-box form .content a {
    font-weight: 500;
    color: #fff;
}

.pull-right {
    float: right;
}
.pull-right {
    float: right !important;
}
.bg .login-box form .submit {
    font-size: 15px;
    font-weight: 500;
    padding: 8px 35px;
    text-transform: uppercase;
    color: #333;
    border-radius: 50px;
    background-color: #fff;
    box-shadow: 0 1px 3px 0 rgba(0,0,0,0.2), 0 1px 1px 0 rgba(0,0,0,0.14), 0 2px 1px -1px rgba(0,0,0,0.12);
}
.btn {
    display: inline-block;
    margin-bottom: 0;
    font-weight: normal;
    text-align: center;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    background-image: none;
    border: 1px solid transparent;
    white-space: nowrap;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    border-radius: 4px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
input, button, select, textarea {
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
}
button, html input[type="button"], input[type="reset"], input[type="submit"] {
    -webkit-appearance: button;
    cursor: pointer;
}
button, select {
    text-transform: none;
}
button {
    overflow: visible;
}
button, input, optgroup, select, textarea {
    color: inherit;
    font: inherit;
    margin: 0;
}
.modal {
    text-align: center;
}

.modal {
    z-index: 100003;
    overflow-y: hidden;
    padding-right: 0 !important;
}
.modal {
    display: none;
    overflow: hidden;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1050;
    -webkit-overflow-scrolling: touch;
    outline: 0;
}
.fade {
    opacity: 0;
    -webkit-transition: opacity 0.15s linear;
    -o-transition: opacity 0.15s linear;
    transition: opacity 0.15s linear;
}
.modal.fade .modal-dialog {
    -webkit-transform: translate(0, -25%);
    -ms-transform: translate(0, -25%);
    -o-transform: translate(0, -25%);
    transform: translate(0, -25%);
    -webkit-transition: -webkit-transform 0.3s ease-out;
    -o-transition: -o-transform 0.3s ease-out;
    transition: transform 0.3s ease-out;
}
.modal .modal-dialog {
    position: relative;
    z-index: 1;
    display: inline-block;
    max-width: 100%;
    max-height: 100%;
    margin: 0;
    vertical-align: middle;
}
.modal-dialog {
    position: relative;
    width: auto;
    margin: 10px;
}
.modal .modal-dialog .modal-content {
    transition: transform 0.5s ease;
    transform: scale(0);
    border: 0;
    border-radius: 0;
}
.modal .modal-content {
    border: none;
    border-radius: 0;
}
.modal-content {
    position: relative;
    background-color: #ffffff;
    border: 1px solid #999999;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 6px;
    -webkit-box-shadow: 0 3px 9px rgba(0, 0, 0, 0.5);
    box-shadow: 0 3px 9px rgba(0, 0, 0, 0.5);
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    outline: 0;
}
.modal .modal-content .modal-header {
    border-bottom: 0;
    background-color: #333;
}

.modal .modal-content .modal-footer, .modal .modal-content .modal-header {
    padding: 15px 30px;
}
.modal .modal-content .modal-header .close {
    font-size: 25px;
    font-weight: 400;
    margin-top: 0;
    opacity: 0.5;
    color: #fff;
    outline: none;
    text-shadow: none;
}
.modal-header .close {
    margin-top: -2px;
}
button.close {
    padding: 0;
    cursor: pointer;
    background: transparent;
    border: 0;
    -webkit-appearance: none;
}
.close {
    float: right;
    font-size: 21px;
    font-weight: bold;
    line-height: 1;
    color: #000000;
    text-shadow: 0 1px 0 #ffffff;
    opacity: 0.2;
    filter: alpha(opacity=20);
}
input, button, select, textarea {
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
}
button, html input[type="button"], input[type="reset"], input[type="submit"] {
    -webkit-appearance: button;
    cursor: pointer;
}
button, select {
    text-transform: none;
}
button {
    overflow: visible;
}
button, input, optgroup, select, textarea {
    color: inherit;
    font: inherit;
    margin: 0;
}
.modal .modal-content .modal-header h4 {
    font-size: 17px;
    text-align: left;
    color: #fff;
}
.modal-title {
    margin: 0;
    line-height: 1.42857143;
}
h1, h2, h3, h4, h5, h6 {
    margin: 0;
    color: #333;
}
h4, .h4 {
    font-size: 18px;
}
h4, .h4, h5, .h5, h6, .h6 {
    margin-top: 10px;
    margin-bottom: 10px;
}
h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
    font-family: inherit;
    font-weight: 500;
    line-height: 1.1;
    color: inherit;
}
* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
user agent stylesheet
h4 {
    display: block;
    margin-block-start: 1.33em;
    margin-block-end: 1.33em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
}
.modal .modal-content .modal-body {
    padding: 30px;
    text-align: left;
}
.modal-body {
    position: relative;
    padding: 15px;
}
.row {
    margin-left: -15px;
    margin-right: -15px;
}
.form-group {
    margin-bottom: 15px;
}
#forgotPasswordModal .modal-content .modal-body form .form-group label {
    color: #333;
}
.form-group label {
    font-size: 17px;
    font-weight: 400;
    vertical-align: middle;
    color: #fff;
}
label {
    display: inline-block;
    max-width: 100%;
    margin-bottom: 5px;
    font-weight: bold;
}
#forgotPasswordModal .modal-content .modal-body form .form-group .form-control {
    color: #333;
    border-bottom: 1px solid rgba(0,0,0,0.08);
}

.form-group .form-control {
    font-size: 16px;
    padding: 6px 0;
    color: #fff;
    border: 1px solid #fff;
    border-top: 0 !important;
    border-right: 0 !important;
    border-left: 0 !important;
    border-radius: 0;
    background-color: transparent;
    box-shadow: none;
}
.form-control {
    display: block;
    width: 100%;
    height: 34px;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    color: #555555;
    background-color: #ffffff;
    background-image: none;
    border: 1px solid #cccccc;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}
input, button, select, textarea {
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
}
input {
    line-height: normal;
}
.modal .modal-content .modal-footer {
    border-top: 0;
}

.modal .modal-content .modal-footer, .modal .modal-content .modal-header {
    padding: 15px 30px;
}
.modal-footer {
    padding: 15px;
    text-align: right;
    border-top: 1px solid #e5e5e5;
}
 .modal .modal-content .modal-footer .save {
    padding: 8px 35px;
    color: #fff;
    border-radius: 50px;
    background-color: #333;
    box-shadow: 0 1px 3px 0 rgba(0,0,0,0.2), 0 1px 1px 0 rgba(0,0,0,0.14), 0 2px 1px -1px rgba(0,0,0,0.12);
}
.cg-busy {
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: 0px;
    z-index: 1001;
}
.form-loader .cg-busy-default-wrapper {
    top: 50% !important;
}
.cg-busy-default-wrapper {
    text-align: center;
}
.form-loader .cg-busy-default-wrapper .cg-busy-default-sign {
    border: none;
    background-color: transparent;
}
.cg-busy-default-sign {
    display: inline-block;
    position: relative;
    z-index: 1002;
    padding-bottom: 6px;
    color: #333333;
    text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75);
    background-color: #e9eeee;
    border: 1px solid #dddddd;
    border-top-width: 0;
    -webkit-border-radius: 7px;
    -moz-border-radius: 7px;
    border-radius: 7px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    -webkit-box-shadow: inset 0 1px 0 rgba(255,255,255,.2), 0 1px 2px rgba(0,0,0,.05);
    -moz-box-shadow: inset 0 1px 0 rgba(255,255,255,.2), 0 1px 2px rgba(0,0,0,.05);
    box-shadow: inset 0 1px 0 rgba(255,255,255,.2), 0 1px 2px rgba(0,0,0,.05);
}
.form-loader .cg-busy-default-wrapper .cg-busy-default-sign .cg-busy-default-spinner {
    width: 30px;
    height: 55px;
}
.cg-busy-default-spinner {
    position: absolute;
    width: 25px;
    height: 25px;
    display: inline-block;
    top: 12px;
    left: 14px;
}
.cg-busy-default-text {
    margin: 13px 12px 6px 49px;
    font-size: 16px;
    color: #555;
    text-align: left;
    max-width: 400px;
}
*/
a {
    color: #337ab7;
    text-decoration: none;
}
a {
    background-color: transparent;
}
mbed, img:not([draggable]), object, video {
    max-width: 100%;
    height: auto;
}

img {
    vertical-align: middle;
}
img {
    border: 0;
}
.bg .login-box {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 400px;
    margin: -129px 0 0 -200px;
}
form {
    display: block;
    margin-top: 0em;
}
.group {
    position: relative;
    margin-bottom: 50px;
}
.bg .login-box form .group input {
    padding: 6px 0;
    color: #fff;
    border-bottom: 1px solid rgba(255,255,255,0.5);
}
.group input, .group textarea {
    font-size: 17px;
    display: block;
    width: 100%;
    padding: 9px 0 3px;
    color: #333;
    border: none;
    border-bottom: 1px solid rgba(0,0,0,0.08);
    border-radius: 0;
    background-color: transparent;
}
input, button, select, textarea {
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
}
input {
    line-height: normal;
}
button, input, optgroup, select, textarea {
    color: inherit;
    font: inherit;
    margin: 0;
}
.bg .login-box form .last {
    margin-bottom: 25px;
}
.group {
    position: relative;
    margin-bottom: 50px;
}

.bg .login-box form .group input {
    padding: 6px 0;
    color: #fff;
    border-bottom: 1px solid rgba(255,255,255,0.5);
}

.group input, .group textarea {
    font-size: 17px;
    display: block;
    width: 100%;
    padding: 9px 0 3px;
    color: #333;
    border: none;
    border-bottom: 1px solid rgba(0,0,0,0.08);
    border-radius: 0;
    background-color: transparent;
}
input, button, select, textarea {
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
}
input {
    line-height: normal;
}
button, input, optgroup, select, textarea {
    color: inherit;
    font: inherit;
    margin: 0;
}
.bg .login-box form .content {
    display: inline-block;
    width: 100%;
    margin-bottom: 50px;
    vertical-align: middle;
}
.bg .login-box form .submit {
    font-size: 15px;
    font-weight: 500;
    padding: 8px 35px;
    text-transform: uppercase;
    color: #333;
    border-radius: 50px;
    background-color: #fff;
    box-shadow: 0 1px 3px 0 rgba(0,0,0,0.2), 0 1px 1px 0 rgba(0,0,0,0.14), 0 2px 1px -1px rgba(0,0,0,0.12);
}
.btn {
    display: inline-block;
    margin-bottom: 0;
    font-weight: normal;
    text-align: center;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    background-image: none;
    border: 1px solid transparent;
    white-space: nowrap;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    border-radius: 4px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
input, button, select, textarea {
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
}
button, html input[type="button"], input[type="reset"], input[type="submit"] {
    -webkit-appearance: button;
    cursor: pointer;
}
button, select {
    text-transform: none;
}
button {
    overflow: visible;
}
button, input, optgroup, select, textarea {
    color: inherit;
    font: inherit;
    margin: 0;
}
.modal {
    text-align: center;
}

.modal {
    z-index: 100003;
    overflow-y: hidden;
    padding-right: 0 !important;
}
.modal {
    display: none;
    overflow: hidden;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1050;
    -webkit-overflow-scrolling: touch;
    outline: 0;
}
.fade {
    opacity: 0;
    -webkit-transition: opacity 0.15s linear;
    -o-transition: opacity 0.15s linear;
    transition: opacity 0.15s linear;
}
.modal .modal-dialog {
    position: relative;
    z-index: 1;
    display: inline-block;
    max-width: 100%;
    max-height: 100%;
    margin: 0;
    vertical-align: middle;
}

.modal-content {
    position: relative;
    background-color: #ffffff;
    border: 1px solid #999999;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 6px;
    -webkit-box-shadow: 0 3px 9px rgba(0, 0, 0, 0.5);
    box-shadow: 0 3px 9px rgba(0, 0, 0, 0.5);
    -webkit-background-clip: padding-box;
    background-clip: padding-box;
    outline: 0;
}
.modal .modal-content .modal-header {
    border-bottom: 0;
    background-color: #333;
}
.modal .modal-content .modal-footer, .modal .modal-content .modal-header {
    padding: 15px 30px;
}
.modal-header {
    padding: 15px;
    border-bottom: 1px solid #e5e5e5;
}
.modal .modal-content .modal-header h4 {
    font-size: 17px;
    text-align: left;
    color: #fff;
}
.modal-title {
    margin: 0;
    line-height: 1.42857143;
}
h1, h2, h3, h4, h5, h6 {
    margin: 0;
    color: #333;
}
h4, .h4 {
    font-size: 18px;
}
h4, .h4, h5, .h5, h6, .h6 {
    margin-top: 10px;
    margin-bottom: 10px;
}
h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
    font-family: inherit;
    font-weight: 500;
    line-height: 1.1;
    color: inherit;
}
.modal .modal-content .modal-body {
    padding: 30px;
    text-align: left;
}
.modal-body {
    position: relative;
    padding: 15px;
}
form {
    display: block;
    margin-top: 0em;
}
.row {
    margin-left: -15px;
    margin-right: -15px;
}
.form-group {
    margin-bottom: 15px;
}
#forgotPasswordModal .modal-content .modal-body form .form-group label {
    color: #333;
}
.form-group label {
    font-size: 17px;
    font-weight: 400;
    vertical-align: middle;
    color: #fff;
}
label {
    display: inline-block;
    max-width: 100%;
    margin-bottom: 5px;
    font-weight: bold;
}
.modal .modal-content .modal-footer {
    border-top: 0;
}

.modal .modal-content .modal-footer, .modal .modal-content .modal-header {
    padding: 15px 30px;
}
.modal-footer {
    padding: 15px;
    text-align: right;
    border-top: 1px solid #e5e5e5;
}
.modal .modal-content .modal-footer .cancel, .modal .modal-content .modal-footer .got-it, .modal .modal-content .modal-footer .save {
    padding: 8px 35px;
    color: #fff;
    border-radius: 50px;
    background-color: #333;
    box-shadow: 0 1px 3px 0 rgba(0,0,0,0.2), 0 1px 1px 0 rgba(0,0,0,0.14), 0 2px 1px -1px rgba(0,0,0,0.12);
}

.btn {
    display: inline-block;
    margin-bottom: 0;
    font-weight: normal;
    text-align: center;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    background-image: none;
    border: 1px solid transparent;
    white-space: nowrap;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    border-radius: 4px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
input, button, select, textarea {
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
}
.modal {
    text-align: center;
}
.modal {
    z-index: 100003;
    overflow-y: hidden;
    padding-right: 0 !important;
}
.modal {
    display: none;
    overflow: hidden;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1050;
    -webkit-overflow-scrolling: touch;
    outline: 0;
}
.fade {
    opacity: 0;
    -webkit-transition: opacity 0.15s linear;
    -o-transition: opacity 0.15s linear;
    transition: opacity 0.15s linear;
}
.modal-dialog {
    position: relative;
    width: auto;
    margin: 10px;
}
.modal.fade .modal-dialog {
    -webkit-transform: translate(0, -25%);
    -ms-transform: translate(0, -25%);
    -o-transform: translate(0, -25%);
    transform: translate(0, -25%);
    -webkit-transition: -webkit-transform 0.3s ease-out;
    -o-transition: -o-transform 0.3s ease-out;
    transition: transform 0.3s ease-out;
}
.modal .modal-dialog {
    position: relative;
    z-index: 1;
    display: inline-block;
    max-width: 100%;
    max-height: 100%;
    margin: 0;
    vertical-align: middle;
}
.modal .modal-content .modal-header {
    border-bottom: 0;
    background-color: #333;
}

.modal .modal-content .modal-footer, .modal .modal-content .modal-header {
    padding: 15px 30px;
}
.modal-header {
    padding: 15px;
    border-bottom: 1px solid #e5e5e5;
}
.modal .modal-content .modal-header .close {
    font-size: 25px;
    font-weight: 400;
    margin-top: 0;
    opacity: 0.5;
    color: #fff;
    outline: none;
    text-shadow: none;
}
.modal-header .close {
    margin-top: -2px;
}
button.close {
    padding: 0;
    cursor: pointer;
    background: transparent;
    border: 0;
    -webkit-appearance: none;
}
.close {
    float: right;
    font-size: 21px;
    font-weight: bold;
    line-height: 1;
    color: #000000;
    text-shadow: 0 1px 0 #ffffff;
    opacity: 0.2;
    filter: alpha(opacity=20);
}
.modal .modal-content .modal-header h4 {
    font-size: 17px;
    text-align: left;
    color: #fff;
}
.modal-title {
    margin: 0;
    line-height: 1.42857143;
}
h1, h2, h3, h4, h5, h6 {
    margin: 0;
    color: #333;
}
h4, .h4 {
    font-size: 18px;
}
h4, .h4, h5, .h5, h6, .h6 {
    margin-top: 10px;
    margin-bottom: 10px;
}
h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
    font-family: inherit;
    font-weight: 500;
    line-height: 1.1;
    color: inherit;
}
.modal .modal-content .modal-body {
    padding: 30px;
    text-align: left;
}
.modal-body {
    position: relative;
    padding: 15px;
}
p {
    margin: 0 0 10px;
}

* {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
user agent stylesheet
p {
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}
.modal .modal-content .modal-footer {
    border-top: 0;
}

.modal .modal-content .modal-footer, .modal .modal-content .modal-header {
    padding: 15px 30px;
}
.modal-footer {
    padding: 15px;
    text-align: right;
    border-top: 1px solid #e5e5e5;
}
.modal .modal-content .modal-footer .cancel, .modal .modal-content .modal-footer .got-it, .modal .modal-content .modal-footer .save {
    padding: 8px 35px;
    color: #fff;
    border-radius: 50px;
    background-color: #333;
    box-shadow: 0 1px 3px 0 rgba(0,0,0,0.2), 0 1px 1px 0 rgba(0,0,0,0.14), 0 2px 1px -1px rgba(0,0,0,0.12);
}

.btn {
    display: inline-block;
    margin-bottom: 0;
    font-weight: normal;
    text-align: center;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    background-image: none;
    border: 1px solid transparent;
    white-space: nowrap;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.42857143;
    border-radius: 4px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
input, button, select, textarea {
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
}
button, html input[type="button"], input[type="reset"], input[type="submit"] {
    -webkit-appearance: button;
    cursor: pointer;
}
button, select {
    text-transform: none;
}
button {
    overflow: visible;
}
button, input, optgroup, select, textarea {
    color: inherit;
    font: inherit;
    margin: 0;
}
.modal {
    text-align: center;
}

.modal {
    z-index: 100003;
    overflow-y: hidden;
    padding-right: 0 !important;
}
.modal {
    display: none;
    overflow: hidden;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1050;
    -webkit-overflow-scrolling: touch;
    outline: 0;
}
.modal .modal-dialog {
    position: relative;
    z-index: 1;
    display: inline-block;
    max-width: 100%;
    max-height: 100%;
    margin: 0;
    vertical-align: middle;
}
.modal-dialog {
    position: relative;
    width: auto;
    margin: 10px;
}


